:root{
  --light: #c5c5c5;
  --green: #60b477;
  --blue: #558a98;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 2px solid var(--light);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 60px;
  border-top: 1px solid white;
}

#clear{
  margin-bottom: 32px;
}


/* Adjust colors if hour is in the past */
.past {
  background-color: var(--light);
  color: white;
  height: inherit;
}

.past_hour {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid var(--light);
  border-radius: 15px;
}

.past_btn{
  background-color: #FFF;
  color: var(--light);
  border: none;
}

/* Adjust colors if hour is currently happening */
.present {
  background-color: var(--blue);
  color: white;
  height: inherit;
}

.present_hour {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid var(--blue);
  border-radius: 15px;
}

.present_btn{
  background-color: #fff;
  color: var(--blue);
  border: none;
}

/* Adjust colors if hour is in the future */
.future {
  background-color: var(--green);
  color: white;
  height: inherit;
}

.future_hour {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid var(--green);
  border-radius: 15px;
}

.future_btn{
  background-color: #fff;
  color: var(--green);
  border: none;
}

.textInput{
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: inherit;
  color: #fff;
}

i{
  padding: 10px;
}
/* Adds whitespace under the 5pm time block */
#row5PM{
  margin-bottom: 32px;
}

/* Average phone viewport adjustments */
@media screen and (max-width: 525px) {
  .col-md-2{
    margin:0px;
    height: 40px;
  }

  .textInput{
    font-size: 15px;
  }
}
